html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #f0f0f0;*/
    background: linear-gradient(to right top, #c2c6ce, #a2d4e7, #79e4dd, #91edaa, #dde86b);
    font-family: 'Games', sans-serif;
}

canvas {
    /*display: block;*/
    /*display: none;*/
    margin: 0 auto;
    /*background: linear-gradient(to right top, #c2c6ce, #a2d4e7, #79e4dd, #91edaa, #dde86b);*/
}

#theGame {
    display: none;
}

#nextWaveButton {
    position: absolute;
    bottom: 20px; /* Odsazení od spodu (dolů) */
    right: 20px; /* Odsazení zprava */
    width: 100px; /* Šířka tlačítka */
    height: 50px; /* Výška tlačítka */
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#menu h1 {
    font-size: 50px;
    margin-bottom: 0;
}

#menu h2 {
    /*font-size: 20px;*/
    margin-bottom: 50px;
}

#startButton {
    /*barva podkladu*/
    background-color: #4CAF50;
    /*barva písma*/
    color: white;
    padding: 15px 100px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    font-family: 'Games', sans-serif;
}

#startButton:hover {
    background-color: #357935; /* Nová barva při hoveru */
}

